@page
@model HotelManagement6.Pages.reservation_payment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservationpayment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpayment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservationpayment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpayment.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservationpayment.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpayment.PaymentDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservationpayment.PaymentDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationpayment.Reservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservationpayment.Reservation.ReservationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservationpayment?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
