@page
@using HotelManagement6.Models
@model HotelManagement6.Pages.guest_info.CreateModel

@{
    ViewData["Title"] = "Create";

    //Gets room Number from asp-route
    var roomNumber = HttpContext.Request.Query["roomNumber"] ;
    var checkinDate = HttpContext.Request.Query["checkinDate"] ;
    var checkoutDate = HttpContext.Request.Query["checkoutDate"];
    var price = HttpContext.Request.Query["price"];
}   

<h1>Create</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Guest.FirstName" class="control-label"></label>
                <input asp-for="Guest.FirstName" class="form-control" type=""  />
                <span asp-validation-for="Guest.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.LastName" class="control-label"></label>
                <input asp-for="Guest.LastName" class="form-control" />
                <span asp-validation-for="Guest.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.GovId" class="control-label"></label>
                <input asp-for="Guest.GovId" class="form-control" />
                <span asp-validation-for="Guest.GovId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Phone" class="control-label"></label>
                <input asp-for="Guest.Phone" class="form-control" placeholder="123-456-7890" />
                <span asp-validation-for="Guest.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Email" class="control-label"></label>
                <input asp-for="Guest.Email" class="form-control" />
                <span asp-validation-for="Guest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.DateOfBirth" class="control-label"></label>
                <input asp-for="Guest.DateOfBirth" class="form-control" type="datetime" placeholder="mm/dd/yyyy"/>
                <span asp-validation-for="Guest.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" name ="roomNumber" value="@roomNumber" />
                <input type="hidden" name="checkinDate" value="@checkinDate" />
                <input type="hidden" name ="checkoutDate"value="@checkoutDate" />
                <input type="hidden" name="price" value="@price"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" asp-route-price ="@price"/>
            </div>
        </form>
    </div>
    @if (User.IsInRole("Admin"))
    {

        <a asp-page="Index">Back to List</a>
    }
    else
    {
        <a asp-page="/Index">Home</a>
    }
    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
