@page
@model HotelManagement6.Pages.guest_info.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.GovId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.GovId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guest?.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
