@page
@using HotelManagement6.Models
@model HotelManagement6.Pages.guest_info.IndexModel


@{
    //fix it so the data gets the correct room number
    // fix it so the data is not temparay and kept
    //store to the database so I have everything I need
    ViewData["Title"] = "Index";
    var roomNumber = TempData["RoomNumber"];
    var checkinDate = TempData["CheckinDate"];
    var checkoutDate = TempData["CheckoutDate"];
    var price = TempData["price"];
    
     
   
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].GovId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].DateOfBirth)
            </th>
            <th>
                RoomNumber
            </th>      
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GovId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>

            <td>
                    @if (item.Guestreservationascs.Any())
                    {
                        var reservation = item.Guestreservationascs.First().Reservation;
                        if (reservation?.Rooms.Any() == true)
                        {
                            @reservation.Rooms.First().RoomNumber
                        }
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
